.weatherPanelDxContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  opacity: 0.3;
  max-width: 700px;
}
