.weatherPanelDxContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  opacity: 0.4;
  max-width: 700px;
}
@media screen and (min-width: 500px) and (max-width: 998px) {
  .weatherPanelDxContainer {
    max-width: none;
    margin: 5px 5px;
  }
}
@media screen and (min-width: 200px) and (max-width: 500px) {
  .weatherPanelDxContainer {
    margin: 5px 5px;
    padding: 0px;
  }
}
