.cityInfoContainer {
  line-height: 60px;
  padding-left: 20px;
}

.firstMessage {
  font-size: 50px;
  font-family: boldItalic;
}
.secondMessage {
  font-size: 20px;
  font-family: boldItalic;
}
.forecast {
  min-height: 50px;
  padding-left: 20px;
  font-size: 35px;
  font-family: boldItalic;
}
@media screen and (min-width: 200px) and (max-width: 500px) {
  .firstMessage {
    font-size: 30px;
  }
}
