.cityInfoContainer {
     line-height: 60px;
     padding-left: 20px;
  
}
.firstMessage {
    font-weight: 900;
    font-size: 35px;
    font-family: test;
}
.secondMessage {
     font-size: 20px;
      font-family: test;
}