.cityField {
  max-height: 50px;
  border-radius: 20px;
}
.myInput[type="checkbox"] {
  height: 20px;
  width: 20px;
}
.spinnerContainer {
  margin-left: 10px;
  min-width: 20px;
}

.cityFieldContainer {
  position: relative;
  top: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
}
.cityFieldContainer2 {
  position: relative;
  top: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-name: example;
}

@keyframes example {
  0% {
    left: 0px;
    top: 100%;
  }
  100% {
    left: 0px;
    top: 10px;
  }
}
